:root{
    --main-pink: hsl(323, 100%, 66%);
    --hover:hsl(321, 100%, 77%);
    --errorr: hsl(360, 100%, 60);
    --comment: hsl(210, 48%, 18%);
    --light-comment: hsl(211, 31%, 28%);
    --head: hsl(220, 100%, 8%);
}

/* Baseline Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0, 100%);
    min-height: 100vh;
    line-height: 1.4;
}

.top-level{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    padding:2rem 4rem;
}

.nav-btn{
    padding: 0.8rem 2.4rem;
    font-family: 'Open Sans' ;
    font-weight: 300;
    color: var(--main-pink);
    background: #fff;
    border: 1px solid var(--main-pink);
    border-radius: 25px;
    cursor: pointer;
}


.nav-btn:hover{
    color: var(--hover);
    border: 1px solid var(--hover)
}

.header{
    max-width: 1200px;
    text-align: center;
    margin: 6.5rem auto;
}

.header h1{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--head); 
    margin-bottom: 24px;
}

.intro{
    max-width: 450px;
    text-align: center;
    margin: 0 auto 3.5rem auto;
    font-family: 'Open Sans';
    font-weight: 200;
    color: var(--comment);
}

.start-button{
    text-decoration: none;
    font-family: sans-serif, 'Poppins' ;
    background-color: var(--main-pink);
    color:#fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.5rem 6rem;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.23);
    cursor: pointer;

}
.start-button:hover{
    background-color: var(--hover);
}

.header img{
    width: 100%;
    height: 100%;
    margin: 5rem auto;
}

.numbers{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin: 0 4rem;
    
}

.numbers img{
    float: left;
}

.communities, .messages {
    font-family:'Open Sans';
}
 .communities h1, .messages h1{
    font-size: 4.8rem;
    color: var(--head);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
 }

.communities p, .messages p{
    color: var(--light-comment)
}

.column{
    margin: 4.5rem auto;
}

.top-desktop-section, .bottom-desktop-section{
    display: block;
    width: 100%;
}

.top-mobile-section, .bottom-mobile-section{
    display: none;
}

.column_text{
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5.5rem;
}

.first,
.third {
    background: hsl(207, 100%, 97%);
}

.column_text img{
    max-width: 100%;
    max-height: 100%;
}

.first img,
.third img {
    order: 2;
}

.first section, .third section{
    order: 1;
}

.column_text h2 {
    font-family: 'Open sans';
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: var(--head);
}

.column_text p{
    font-family: 'Open sans' ;
    color: var(--comment)
}

/* Sincle the 'Get started..' button belongs to same class, the initial settings is applied' */

.community{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 11rem auto;
    width: max-content;
    gap: 2rem;
}

.community h1{
    font-family: 'Poppins';
    font-size: 2.0rem;
}

.footer-desktop{
    display:block;
    width: 100%
}

.footer-mobile{
    display: none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
    background: hsl(192, 100%, 9%);
}

#footer-logo {
    filter: invert(100%) sepia(100%) hue-rotate(125deg) saturate(0) brightness(104%) contrast(104%);
    margin-bottom: 1.5rem;
}

.info, .subscribe section {
    max-width: 440px;
    margin: 0 1rem;
}

.info p{
    color:#fff;
    font-family: 'Open sans';
}
.phone, .email{
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    gap: 1rem;
    color: #fff;
    font-family: 'Open sans';
}

.email a{
    text-decoration: none;
}

.email a:hover{
    color: hsl(189, 100%, 43%);
    text-decoration: underline;
}
.social-icons{
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0 2rem 0;
}

.social-icons i{
    color:#fff;
    font-size: 2.5rem;
}
.social-icons i:hover{
    color: hsl(189, 100%, 43%);
}

.attribution{
 font-family: 'Open Sans';
}

.attribution a{
    text-decoration: none;
    color: #fff;
}

.attribution a:hover{
    color: hsl(189, 100%, 43%);
}

.subscribe form{
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(auto, 300px) auto;
    margin-top: 1.5rem;
    margin-left: 1rem;

}

.subscribe p{
    color:#fff;
    font-family: 'Open sans';
    font-size: 1rem;
}

.subscribe h2{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 2rem;
}

.infield input{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius:4.8px;
    outline: none;
    padding-left: 1rem;
}

#form a{
    text-decoration: none;
}
.subscribe form a{
    color:#fff;
    padding: 0.5rem 3rem;
    background: var(--main-pink);
    height: 3rem;
    border-radius: 4.8px;
    font-size: 1.2rem;
    font-family:'Open Sans';
    cursor: pointer;
    outline: none;
    border:none;
}

.subscribe form a:hover{
    background:var(--hover)
}

.infield #error {
    margin-top: 0.8rem;
    color: hsl(0, 100%, 59);
    font-size: 12px;
    display: none;
}



@media screen and (max-width: 760px) {
    body{
        font-size: 1rem;
    }
    nav{
        padding: 2rem;
    }

    .nav-btn{
        padding: 0.4rem 1.2rem;
    }

    #nav-logo{
        max-width: 6rem;
    }

    .header h1{
        font-size: 1.5rem;
    }

    .header p{
        margin: 2.2rem auto;
        margin-bottom: 3.5rem;
    }

    .start-button{
        padding: 1rem 3rem;
       
    }

    .header img{
        padding: 0 2rem;
    }
    
    .numbers{
        flex-direction: column;
        gap: 5rem;
        
    }

    .communities, .messages{
        margin: 0 auto;
        max-width: 250px;
    }

    .column_text{
        text-align: center;
        grid-template-columns: 1fr;
        padding: 4rem 2rem;
    }

    .first img, .third img{
        order: 1;
    }

    .first section,
    .third section{
        order: 2;
    }

    .column_text h2{
        font-size: 1.8rem;
    }

    .community h1{
        font-size: 1.2rem;
    }

    .footer{
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 5rem 2.5rem;
    }

    #footer-logo{
        max-width: 11rem;
        margin-bottom: 2rem;
    }

    .subscribe section{
        margin: 0;
    }

    .phone, .email{
        margin: 1rem auto;
    }

    .social-icons a i{
        font-size: 1.5rem;
    }

    .subscribe form{
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        margin-top: 2rem;
        justify-items: end;
        margin-left: 0;
    }

    .subscribe form .infield{
        width:100%;
    }
    .infield input{
        width: 100%;
    }
    .subscribe form a{
        width: max-content;
    }
}

